* {
    margin: 0px;
    padding: 0px
}

.body {
    background-image: url(../image/image/Background\ \(4\).png);
width: 100%;
height: 8000px;
}

.logo img {
    width: 145px;
    margin-top: 50px;
    margin-left: 80px;
}

.row {
    display: flex;
}

.jcb {
    justify-content: space-between;
}
ul.navbar li {
    margin-top: 120px;
    display: inline-block;
    margin-right: 60px;
}

a {
    color: black;
    text-decoration: none;
    margin-top: 50px;
    font-weight: 700;
}

.text {
    font-size: 23px;
    color: #000000;
    font-weight: 400;
    font-family: "Barlow";

    margin-left: 170px;
    margin-top: 103px;
}

.text-box {
    margin-top: 20px;
    margin-left: 170px;
}

.text-box-1 input {
    margin-top: 10px;
    width: 400px;
    height: 20px;


}

.text-box-2 input {
    margin-top: 10px;
    width: 400px;
    height: 20px;

}

.text-box-3 input {
    margin-top: 10px;
    width: 400px;
    height: 20px;

}

.add-cart  button {
    margin-top: 10px;
    background-color: red;
    text-align: center;
    color: aliceblue;
    width: 400px;
    height: 30px;
    cursor: pointer;
}

.text-2 p {
    width: 383px;
    height: 54px;
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    font-family: "Barlow";
    margin-top: 10px;
}

.vector-1 img {
    width: 190px;
    height: 500px;
    position: absolute;
    margin-left: -110px;
    margin-top: -141px;
}

.jambu-1 img {
    width: 60px;
    margin-left: 220px;
    margin-top: 50px;
}

.jambu-3 img {
    width: 70px;
    margin-top: 40px;
    margin-left: 300px;
}

.jambu-2 img {
    width: 130px;
    margin-left: 106px;
    margin-top: -63px;
}

.pizza-1 img {
    width: 700px;
    margin-top: -450px;
    margin-left: 350px;
}

.vector-2 img {
    width: 230px;
    height: 291px;
    position: absolute;
    margin-left: 900px;
    margin-top: -870px;
}

.tomato img {
    position: absolute;
    margin-left: 670px;
    margin-top: -840px;
}
.vector-4 img {
    position: absolute;
    margin-top: -0px;
    margin-left: 285px;
}

.vector-5 img {
    position: absolute;
    margin-left: 690px;
    margin-top: 50px;
}

.pizza-2 img {
    position: relative;
    margin: 40px;
    margin-top: -opx;

}

.leaf img {
    position: absolute;
    margin-left: 1040px;
    margin-top: 152px;
}

.tomatos img {
    position: absolute;
    margin-top: -260px;
    margin-left: 60px;
}

.text-4 h2 {
    font-size: 53px;
    margin-top: -200px;
    line-height: 52px;
    color: #000000;
    font-weight: 400;
    font-family: "Sacramento";
    margin-left: -110px;
    text-align: center;
}

.text-4 h1 {
    font-size: 36px;
    color: #cc1e03;
    font-weight: 400;
    font-family: "Barlow";
    text-align: center;
    margin-top: 10px;
    margin-left: -120px;
}

.order-box input {
    text-align: center;
    margin-left: 460px;
    background-color: #cc1e03;
    color: aliceblue;
    margin-top: 10px;
    width: 70px;
}

.order-box p {
    width: 458px;
    height: 54px;
    margin-left: 560px;
    margin-top: -20px;
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    font-family: "Barlow";
}

.section-2 {
    margin-top: 100px;
}

.leaf-2 img {
    position: absolute;
    margin-top: -10px;
    margin-left: 140px;
}

.vector-6 img {
    margin-left: 276px;
    
}

.cup-1 img {
    position: absolute;
    margin-left: 304px;
    margin-top: -279px;
}

.cup-2 img {
    position: absolute;
    margin-top: -310px;
    margin-left: 567px;

}
.garlic img{
    margin-left:900px;
    margin-top: -260px;
}
.text-5 h4{
    margin-left: 70px;
    font-size: 53px;
line-height: 52px;
color: #000000;
font-weight: 400;
font-family: "Sacramento";
text-align: center;
}
.text-5 h2 {
    font-size: 36px;
    margin-top: 20px;
line-height: 39px;
color: #cc1e03;
font-weight: 400;
font-family: "Barlow";
text-align: center;
}
.text-5 h1 {
    font-size: 36px;
line-height: 39px;
color: #cc1e03;
font-weight: 400;
font-family: "Barlow";
text-align: center;
}
.section-3{
    margin-top: 200px;
}
.section-4{
    margin-top: 100px;
}
.logo-2 img{
     margin-left: 266px;
}
.text-6 h1{
    margin-top: 30px;
    font-size: 36px;
    margin-left: 263px;
color: #cc1e03;
font-weight: 400;
font-family: "Barlow";
}
.text-6 h2{
    font-size: 36px;
    margin-left: 263px;
color: #cc1e03;
font-family: "Barlow";
}
.vector-7 img{
    margin-top: -160px;
    margin-left: 88px;
}

.cut-pizza img{

    margin-left: 457px;
    margin-top: -520px;
}
.vector-8 img{
    margin-top: -50px;
    margin-left: 690px;
}
.line-shap img{
    margin-left: 553px;
    margin-top: -350px;
    position: absolute;
}
.black-ring img{
    position:absolute;
    margin-left: 665px;
    margin-top: -230px;
}
.cut-shap img{
    position: absolute;
    margin-left: 530px;
    margin-top: -190px;
}
.two-leaf img{
position: absolute;
    margin-left: 306px;
    margin-top: -250px;
}
/* .text-7 i{
    margin-top: -500px;
margin-left: 1060px;
} */
.text-8 h2{
    margin-top: -500px;
    margin-left: 1020px;
}
.section-5{
    margin-top: 100px;
}
.vector-9 img{    
    margin-top: 350px;
    margin-left: 78px;
}
.text-9 {
    margin-top: -270px;
    margin-left: 750px;
}
.text-boxs{
    margin-left: 750px;
}
.text-box-4 input{
    width: 284px;
    height: 20px;
    margin-top: 10px;
}
.text-box-5 input{
    width: 284px;
    height: 20px;
    margin-top: 10px;
}
.text-box-6 input{
    width: 284px;
    height: 20px;
    margin-top: 10px;
}
.add-cart-2 button{
    width: 284px;
    height: 30px;
    margin-top: 10px;
    text-align: center;
    background-color: #cc1e03;
    color: aliceblue;
    cursor: pointer;
}
.add-cart-2 p{
color: #000000;
font-family: "Bamrlow";
margin-top: 10px  ;
}
.tomato-2 img{
    position:absolute;
    margin-right: 0px;
    margin-left: -425px;
    margin-top: -271px;
}
.pizza-4 img{
    width: 650px;
    margin-left: -673px;
    margin-top: -124px;
}
.black-olives-1 img{
    position: absolute;
    margin-left: -282px;
    margin-top: -441px;
}
.black-olives-2 img{
    position: absolute;
    margin-left:-391px ;
    margin-top:-318px ;

}
.black-olives-3 img{
    position: absolute;
    margin-top: -344px;
    margin-left: -227px;
}
.black-olives-4 img{
    position: absolute;
    margin-top: -473px;
}
.black-olives-5 img{
    position: absolute;
    margin-top:-410px ;
    margin-left: 158px;
}
.black-olives-6 img{
    position: absolute;
    margin-top: -344px;
    margin-left: 68px;
}
.vector-10 img{
    width: 580px;
    margin-left: -70px;
}
.vector-11 img{
    position: absolute;
    margin-top: -20px;
    margin-left: 1050px;
}
.text-box-7 button{
    /* position: absolute; */
    margin-left: 750px;
    text-align: center;
    color: #fefefe;
    width: 105px;
    height: 30px;
    background-color: #cc1e03;
    margin-top: 275px;

}
.text-box-7 h2{
    /* position: absolute; */
    margin-left: 870px;
    margin-top:-25px ;

}
.box{
    position: absolute;
    width: 457px;
    height: 90px;
    margin-left: 748px;
    border-color: #000000;
    border: 3px solid;
}
.text-10{
    /* position: absolute; */
    position: absolute;
    margin-left: 752px;
    margin-top: 10px;
    border: 3px;
}
.vector-11 img{
    position:absolute;
    margin-left: 1069px;
    margin-top: -329px;
}
.vector-12 img{
    
    margin-left: 290px;
    margin-top: -80px;
}
.bike img{
    position: absolute;
    margin-left: 241px;
    margin-top: -342px;
}
.bike-layour{
    margin-top: 230px;
    margin-left: 135px;
}
.flower img{
    position: absolute;
    margin-left:342px;
    margin-top: -363px;
}
.round img{
    position: absolute;
    margin-left: 224px;
    width: 55px;
    margin-top: -594px;

}
.logo-5 img{
    position: absolute;
    margin-top: -347px;

    width: 100px;
margin-left: 294px;
}
.section-7{
    margin-top: 70px;
    margin-left: -70px;
}
.garlic-2 img{
    
    margin-left: 1017px;
    margin-top: 50px;

}
.vector-13 img{
 margin-left: 150px;   
}
.leaf-5 img{
    position:absolute;
    margin-left: 300px;

    margin-top: -564px;
}
.pizza-6 img{
    position: absolute;
    width: 405px;
    margin-top: -447px;
    margin-left: 170px;
}
.pizza-7 img{
    position: absolute;
    width: 405px;
    margin-top: -447px;
    margin-left:541px;
}
.pizza-8 img{
    position: absolute;
    width: 405px;
    margin-top:-447px;
    margin-left: 941px;
}
.tomatos-2 img{
    margin-top: -58px;
    margin-left: 162px;
}
.text-11 h1{
    margin-left: 170px;
    font-size: 36px;
    margin-top: -70px;
letter-spacing: 0px;
line-height: 39px;
color: #cc1e03;
font-weight: 700;
font-family: "Barlow";
text-align: center;
}
.section-8{
    margin-left: -80px;
}
.text-12 {
    font-size: 36px;
letter-spacing: 0px;
margin-top: 200px;
margin-left: 170px;
line-height: 62px;
color: #cc1e03;
font-weight: 700;
font-family: "Barlow";
}
.text-box-15 input{
    margin-left:170px;
    width: 400px;
    height: 30px;

margin-top: 10px;
}
.text-box-16 input{
    margin-left: 170px;
    width: 400px;
    height: 30px;
    margin-top: 10px;
}
.text-box-17 button{
    margin-left: 170px;
    color: #fefefe;
    width: 400px;
    height: 30px;
    margin-top: 10px;
    text-align: center;
    background-color: #cc1e03;

}
.text-box-17 p{
    margin-top: 10px;
    margin-left: 170px;
}
.vector-14 img{
    
    margin-left: 165px;
    margin-top: 150px;
}
.cutting-pizza img{
    width: 757px;
    margin-top: -1060px;
    margin-left: 360px;
}
.vector-15 img{
    width: 200px;
    position: absolute;
    margin-left: 1150px;
    margin-top: -681px;
}
.phutor{
    width: 1170px;
    height: 586px;
    margin-left: 96px;
    margin-top: -118px;
    background-color: #000000;
}
.text-13 li a{
    color: aliceblue;
    margin-left: 180px;
    margin-top: 20px;
    font-size: 20px;
letter-spacing: 0px;
line-height: 51px;
color: #fefefe;
font-weight: 500;
font-family: "Barlow";
}
.tomato-3 img{
    position: absolute;
    margin-top: -286px;
    margin-left: 350px;
}
.logo-3 img{
    width: 160px;
    margin-top: -187px;
    margin-left: 500px;
}
.leaf-7 img{
    margin-top: -60px;
    margin-left: 500px;
}
.text-14 h1{
    
    color: #fefefe;
    margin-top: -400px;
    margin-left: 850px;
}
.text-box-21 input{
    width: 200px;
    height: 20px;
    margin-top: 10px;
    margin-left: 850px;
}
.text-box-22 button{
    width: 200px;
    height: 30px;
    text-align: center;
    margin-top: 10px;
    color: #fefefe;
    background-color: #cc1e03;
    margin-left:850px ;
    cursor: pointer;
}